@import url("https://fonts.googleapis.com/css2?family=B612&family=Press+Start+2P&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --login-bg: #fcf2e9;
  --title-bg: #23305c;
  --button-bg: #2e145d;
  --link: #784284;
  --image-bg: #fef2da;
}
body {
  height: 100vh;
  background-color: #2a233d;
  font-family: "B612", sans-serif;
  font-family: "Press Start 2P", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.login-container {
  height: 30.5em;
  width: 60em;
  margin: 6em auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}
.login-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  background-color: var(--login-bg);
}

.image-container {
  width: 50%;
  padding-top: 2rem;
  background-color: var(--image-bg);
  transform: scaleX(-1);
}

.title {
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--title-bg);
}
.social-login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social-login-elements {
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.social-login-elements img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0;
  left: -0.625rem;
}

.social-login-elements:hover {
  background-color: #fff;
  cursor: pointer;
}
.login-info-container > p {
  font-size: 1.25em;
  margin-top: 1.5em;
}
.input-container {
  height: 55%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input,
.btn {
  width: 90%;
  height: 3.125rem;
  font-size: 1em;
}

.input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.input:hover {
  border: 2px solid var(--button-bg);
}
.btn {
  width: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-color: var(--button-bg);
  cursor: pointer;
}

.input-container p {
  margin: 0;
}

.span {
  color: var(--link);
  font-weight: 600;
  cursor: pointer;
}
.icon {
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .image-container {
    display: none;
  }

  .login-container {
    width: 70%;
    margin-top: 3rem;
  }

  .login-info-container {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .login-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .login-container {
    height: 90%;
  }
  .social-login {
    flex-direction: column;
    align-items: center;
    height: 30%;
  }

  .login-info-container {
    margin: 0;
  }
}
